/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
    font-family: 'tzy';
    /* �������Զ��弴�� */
    /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    /* �����ļ�·�� */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: tzy !important;
}




div#menus {
    font-family: "ZhuZiAYuanJWD";
}

h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
    font-family: ZhuZiAYuanJWD;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* ���Զ���ͼ���С */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ʱ������Фicon */
svg.icon {
    /* ���ﶨ��svg.icon�������Butterfly�Դ���note��ǩ��ͻ */
    width: 1em;
    height: 1em;
    /* width��height����ͼ���Ĭ�Ͽ��Ⱥ͸߶�*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-zhongbiao::before {
    color: #f7c768;
}

/* bilibli������ */
#article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
}

a.bangumi-tab:hover {
    text-decoration: none !important;
}

.bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
}

.bangumi-button {
    padding: 5px 10px !important;
}

a.bangumi-tab {
    padding: 5px 10px !important;
}

svg.icon.faa-tada {
    font-size: 1.1em;
}

.bangumi-info-item {
    border-right: 1px solid #f2b94b;
}

    .bangumi-info-item span {
        color: #f2b94b;
    }

    .bangumi-info-item em {
        color: #f2b94b;
    }

/* ���artitalk��ͼ������ */
#uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
}

/*top-img��ɫ͸������Ч���Ƴ���������ӣ�������ִ������ȫһͼ�����߱���ͼ�Ա�ɫ���� */
#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}

/* ��ҳ���¿�Ƭ */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
}

/* ��ҳ������Ƭ */


/*黑暗主题下的配置*/
[data-theme=dark] #aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('https://img9999.wchunge.cn/i/2022/12/10/u90cbk.jpg   ') !important
}




/* ����ҳ�����ı��� */
div#post {
    background: rgba(255, 255, 255, 0.9);
}

/* ��ҳҳ�� */
div#page {
    background: rgba(255, 255, 255, 0.9);
}

/* �鵵ҳ�� */
div#archive {
    background: rgba(255, 255, 255, 0.9);
}

/* ��ǩҳ�� */
div#tag {
    background: rgba(255, 255, 255, 0.9);
}

/* ����ҳ�� */
div#category {
    background: rgba(255, 255, 255, 0.9);
}

/*ҹ��ģʽα�����ֲ�͸��*/
[data-theme="dark"] #recent-posts > .recent-post-item {
    background: #121212;
}

[data-theme="dark"] .card-widget {
    background: #121212 !important;
}

[data-theme="dark"] div#post {
    background: #121212 !important;
}

[data-theme="dark"] div#tag {
    background: #121212 !important;
}

[data-theme="dark"] div#archive {
    background: #121212 !important;
}

[data-theme="dark"] div#page {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: #121212 !important;
}

[data-theme="dark"] div#category {
    background: transparent !important;
}
/* ҳ��͸�� */
#footer {
    background: transparent !important;
}

/* ͷͼ͸�� */
#page-header {
    background: transparent !important;
}

#rightside > div > button {
    border-radius: 5px;
}

/* ������ */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
}

/* ���ֲ����� */

/* .aplayer .aplayer-lrc {
  display: none !important;
} */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* Ĭ��������������66px��ֻ��һ���ͷ���� */
}

    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
        left: 0 !important;
        transition: all 0.3s;
        /* �����ͣ������������㣬��ȫ��ʾ��ť */
    }

.aplayer.aplayer-fixed {
    z-index: 999999 !important;
}

/* ���ۿ�  */
.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}

/* �������ۿ� */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}

/* ���ͼ�� */
body {
    cursor: url("/img/x1.cur"), auto;
}

a,
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: url("/img/x2.cur"), auto !important;
}
/* md��վ�»��� */
#article-container a:hover {
    text-decoration: none !important;
}

#article-container #hpp_talk p img {
    display: inline;
}

/* 404ҳ�� */
#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
}

    #error-wrap .error-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        height: 18rem;
        border-radius: 8px;
        background: var(--card-bg);
        box-shadow: var(--card-box-shadow);
        transition: all 0.3s;
    }

        #error-wrap .error-content .error-img {
            box-flex: 1;
            flex: 1;
            height: 100%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: #3b70fc;
            background-position: center;
            background-size: cover;
        }

        #error-wrap .error-content .error-info {
            box-flex: 1;
            flex: 1;
            padding: 0.5rem;
            text-align: center;
            font-size: 14px;
            font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
        }

            #error-wrap .error-content .error-info .error_title {
                margin-top: -4rem;
                font-size: 9em;
            }

            #error-wrap .error-content .error-info .error_subtitle {
                margin-top: -3.5rem;
                word-break: break-word;
                font-size: 1.6em;
            }

            #error-wrap .error-content .error-info a {
                display: inline-block;
                margin-top: 0.5rem;
                padding: 0.3rem 1.5rem;
                background: var(--btn-bg);
                color: var(--btn-color);
            }

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

    #body-wrap.error .aside-list .aside-list-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    #body-wrap.error .aside-list .aside-list-item {
        padding: 0.5rem;
    }

        #body-wrap.error .aside-list .aside-list-item img {
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
        }

        #body-wrap.error .aside-list .aside-list-item .thumbnail {
            overflow: hidden;
            width: 230px;
            height: 143px;
            background: var(--anzhiyu-card-bg);
            display: flex;
        }

        #body-wrap.error .aside-list .aside-list-item .content .title {
            -webkit-line-clamp: 2;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-height: 1.5;
            justify-content: center;
            align-items: flex-end;
            align-content: center;
            padding-top: 0.5rem;
            color: white;
        }

        #body-wrap.error .aside-list .aside-list-item .content time {
            display: none;
        }

/* ��������� */
#article-container figure.highlight {
    border-radius: 10px;
}
/* ����ҳH1-H6ͼ����ʽЧ�� */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 1.6s linear infinite;
    animation: ccc 1.6s linear infinite;
}

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
}
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: #3b70fc;
}

    #content-inner.layout h1:hover::before,
    #content-inner.layout h2:hover::before,
    #content-inner.layout h3:hover::before,
    #content-inner.layout h4:hover::before,
    #content-inner.layout h5:hover::before,
    #content-inner.layout h6:hover::before {
        color: #3b70fc;
        -webkit-animation: ccc 3.2s linear infinite;
        animation: ccc 3.2s linear infinite;
    }
/* ҳ������iconת���ٶȵ��� */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite;
}
/* tags��ʽ */
#aside-content .card-tag-cloud a {
    color: var(--anzhiyu-fontcolor) !important;
    font-size: 1.05rem !important;
    border-radius: 8px;
    display: inline-block;
    margin-right: 4px;
}

    #aside-content .card-tag-cloud a:hover {
        background: var(--anzhiyu-theme);
        color: var(--anzhiyu-white) !important;
        box-shadow: var(--anzhiyu-shadow-theme);
    }

@media screen and (min-width: 1300px) {
    #aside-content .card-tag-cloud a:hover {
        transform: scale(1.03);
    }

    #aside-content .card-tag-cloud a:active {
        transform: scale(0.97);
    }
}

#aside-content .card-tag-cloud a sup {
    opacity: 0.4;
    margin-left: 2px;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 4rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden;
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 1.5s ease infinite;
    background-size: 200%;
}

.pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* һ���˵����� */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
    /* �Ӳ˵�����չʾ */
    #nav .menus_items .menus_item:hover .menus_item_child {
        display: flex !important;
    }
/* �����2�Ǵ����������ĵ�2��Ԫ�أ������Ӳ˵���Ԫ�أ����԰��Լ������޸� */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
}
/* ҹ��ģʽ�˵��������� */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
    text-shadow: 0 0 2px var(--theme-color) !important;
}

/* �ֻ������� */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
    text-shadow: 0 0 2px var(--theme-color) !important;
}
/* �����������Ϣ��Ƭ��̬����ɫ */
#aside-content > .card-widget.card-info {
    background: linear-gradient( -45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea );
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ��ҹģʽ���� */
[data-theme="dark"] #aside-content > .card-widget.card-info {
    background: #191919ee;
}

/* ������ϢFollow me��ť */
#aside-content > .card-widget.card-info > #card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}
:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* ��ҳ���¿�Ƭ */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* ��ҳ������Ƭ */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* ����ҳ���鵵ҳ����ͨҳ�� */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* ������ */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* ҹ��ģʽ���� */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}


/* ҹ��ģʽҳ��ҳͷ����͸�� */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* �Ķ�ģʽ */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* ҹ��ģʽ�µ��Ķ�ģʽ */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
/* �����ʽ */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* ����ı����ĵ�ɫ */
    background: rgb(57,197,187);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

    #cursor.hidden {
        opacity: 0;
    }

    #cursor.hover {
        opacity: 0.1;
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }

    #cursor.active {
        opacity: 0.5;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
    }

/* 雪花特效 */
[data-theme="light"] #snow{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
  }
  
  /* 雪花黑夜模式不显示 */
  [data-theme="dark"] #snow{
    display: none;
  }
  